.appNavbar {
  height: 70px;
  position: fixed;
  top: 0;
  background: #000;
  padding: 0 40px;
  color: #fff;
  border-bottom: 1px solid #ffffff1e;
}
.logoContent {
  width: 150px;
  cursor: pointer;
}
.logoTitle {
  font-size: 16px;
  font-weight: 500;
  color: rgb(238, 96, 96);
}
.logoSubTitle {
  font-size: 13px;
  font-weight: 500;
  color: rgb(114, 127, 224);
}
.navItems {
  display: flex;
}
.navItems span {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  padding: 0 10px;
}

.menuContent {
  display: none;
}

@media (max-width: 600px) {
  .appNavbar {
    padding: 0;
  }
  .logoContent {
    padding: 0 10px;
  }
  .navItems {
    display: none;
  }
  .logoContent {
    width: 50%;
  }
  .menuContent {
    display: flex;
    justify-content: end;
    width: 50%;
    padding: 0 10px;
  }
}
