.baseButton {
  padding: 10px 10px;
  border: none;
  outline: none;
  background: rgb(114, 127, 224);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.bgRed {
  background: rgb(238, 96, 96);
}

.bgDanger {
  background: rgb(86, 17, 17);
}
